# .NET
bin/
obj/
*.user
*.suo
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
.vscode/

# Rider
.idea/

# NuGet
*.nupkg
packages/

# SQL Server
*.mdf
*.ldf

# OS
Thumbs.db
Desktop.ini

# Zip files
*.zip

wwwroot/uploads/
